html {
  background-color: rgb(213, 213, 213);
}

div {
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 1rem;
}

.target {
  height: 1rem;
  width: 1rem;
  border-radius: 5rem;
  background-color: red;
  outline: 1rem solid red;
  border: 2rem solid white;
  padding: 1rem;
  cursor: crosshair;
}
